<!DOCTYPE html>
<html lang="en">

<head>
    <title>自定义书签</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="otherslib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="otherslib/bootstrap/css/bootstrap-select.css">
    <script type="text/javascript" src='js/main.js'></script>
    <script type="text/javascript" src="otherslib/lib/vue.min.js"></script>
    <script type="text/javascript" src="otherslib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="otherslib/bootstrap/js/bootstrap-select.js"></script>
    <style type="text/css">
        html,
        body,
        #bookmark {
            height: 100%;
        }

        .row {
            border-top: 2px solid #e7e7e7;
        }
    </style>
</head>

<body>

    <div class="container-fluid" id="bookmark">
        <div class="row" style="height:20%;padding-top: 3%;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">书签名称：</span>
                    <select class="selectpicker form-control show-tick" v-model="bookItem" @change="vue.getBookMark()"
                        title="选择书签">
                        <option v-for="(item,index) in bookmarks" :value="index" :key="index">{{item.bookmarkname}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="height: 65%;padding-top: 3%;overflow: auto;">
            <div class="col-xs-12 col-sm-12 col-md-12" id="showResult">
                <p>请先从上方的下拉列表中选择指定书签后，再进行添加或删除操作！</p>
            </div>
        </div>
        <div class="row" style="height: 15%;overflow: auto;">
            <div class="col-xs-2 col-sm-2 col-md-2" style="top:25%;">
                <button type="button" class="btn btn-primary btn-block" disabled="disabled" id="add"
                    @click="vue.addBookMark()">添加</button>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2" style="top:25%;">
                <button type="button" class="btn btn-primary btn-block" disabled="disabled" id="del"
                    @click="vue.delBookMark()">删除</button>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-xs-offset-6" style="top:25%;">
                <button type="button" class="btn btn-primary btn-block" @click="vue.cancel()">取消</button>
            </div>
        </div>
    </div>

</body>

</html>
<script>
    var vue = new Vue({
        el: "#bookmark",
        data: {
            bookmarks: {}, // 书签下拉框数据
            bookItem: "", // 选中的书签下标
            bookmarksign: "", // 书签对象
            bookmarkname: "", // 书签名称
        },
        methods: {
            cancel: function () { // 取消按钮
                window.close();
            },
            getAllBookMark: function () { // 加载下拉框数据
                var doc = wps.WpsApplication().ActiveDocument;
                var bookmarkUrl = GetDocParamsValue(doc, "bookmarkDataUrl");
                if (bookmarkUrl == "") {
                    bookmarkUrl = OA_DOOR.bookmarkPath;
                }
                if (bookmarkUrl == undefined) {
                    var strBookMarks =
                        '[{"other":"","bookmarksign":"title","bookmarkname":"title"},{"other":"","bookmarksign":"content","bookmarkname":"content"},{"other":"","bookmarksign":"editor","bookmarkname":"editor"}]';
                    this.bookmarks = JSON.parse(strBookMarks);
                    console.log("数据：" + this.bookmarks);
                    return;
                }
                $.ajax({
                    url: bookmarkUrl,
                    async: false,
                    method: "post",
                    dataType: 'json',
                    success: function (res) {
                        this.bookmarks = res; // 书签列表赋值
                        console.log("数据：" + this.bookmarks);
                    },
                    error: function (response) {
                        alert("获取响应失败");
                        this.bookmarks = {};
                    }
                });
            },
            getBookMark: function () { // 获取选中书签的信息并保存在vue中
                // var _this = this;
                var bookmarkindex = this.bookItem; // 获取选中下拉框的坐标
                this.bookmarksign = this.bookmarks[bookmarkindex].bookmarksign; // 选中书签对象的书签名
                this.bookmarkname = this.bookmarks[bookmarkindex].bookmarkname; // 选中书签对象的内容
                $("#showResult").html(""); // 隐藏文本
                if (this.bookmarksign != "" || this.bookmarkname != "") { // 打开添加及删除按钮
                    $("#add").attr('disabled', false);
                    $("#del").attr('disabled', false);
                }
            },
            addBookMark: function () { // 添加书签到文档中
                if (this.bookmarksign == "" || this.bookmarkname == "") {
                    alert("书签不存在,操作失败");
                    return;
                }
                // 插入文字型窗体域
                var wpsApp = wps.WpsApplication();
                var doc = wpsApp.ActiveDocument;
                var selection = wpsApp.ActiveWindow.Selection;
                var range = selection.Range;
                var fields = doc.FormFields;
                fields.Shaded = true; // 显示底纹
                var formField = fields.Add(range, wps.Enum.wdFieldFormTextInput);
                formField.Name = this.bookmarksign; // 书签名称设置
                formField.Result = this.bookmarkname; // 窗体域的显示结果设置
                // 添加成功给予提示
                $("#showResult").html("书签【" + this.bookmarksign + "】添加成功！");
            },
            delBookMark: function () { // 删除书签
                if (this.bookmarksign == "") {
                    alert("书签标记不存在,操作失误");
                    return;
                }
                // 删除指定窗体域
                var doc = wps.WpsApplication().ActiveDocument;
                var fields = doc.FormFields;
                var flag = false;
                if (fields.Count > 0) {
                    for (var i = 1; i <= fields.Count; i++) {
                        var formField = fields.Item(i);
                        if (formField.Name == this.bookmarksign) {
                            flag = true;
                            formField.Delete();
                        }
                    }
                }
                if (flag) {
                    $("#showResult").html("书签【" + this.bookmarksign + "】删除成功！");
                } else {
                    alert("此书签不存在，请重新选择要删除的书签！");
                }
            }
        },
        created: function () {
            this.getAllBookMark()
        }
    });
</script>