<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>印章页面</title>
    <link rel="stylesheet" href="otherslib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="otherslib/bootstrap/css/bootstrap-select.css">
    <script type="text/javascript" src='js/main.js'></script>
    <script type="text/javascript" src="otherslib/lib/vue.min.js"></script>
    <script type="text/javascript" src="otherslib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="otherslib/bootstrap/js/bootstrap-select.js"></script>
    <style type="text/css">
        html,
        body,
        #seal {
            height: 100%;
        }

        .row {
            border-top: 2px solid #e7e7e7;
        }
    </style>
</head>

<body>
    <div class="container-fluid" id="seal">
        <div class="row" style="height: 15%;padding-top: 2%;">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">印章名称：</span>
                    <select class="selectpicker form-control show-tick" v-model="sealItem1" title="选择印章">
                        <option v-for="item in seals" :value="item.signatureID">{{item.MarkName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">密码：</span>
                    <input type="password" class="form-control center-block" v-model="sealPassword"
                        placeholder="请输入密码" />
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <button class="btn btn-primary btn-block" @click="vue.loadSeal()">盖章</button>
            </div>
        </div>
        <div class="row" style="height: 70%;padding-top: 5%;overflow: auto;">
            <img :src="seal" v-if="visible" style="width: 50%;height: 85%;" draggable="false">
        </div>
        <div class="row" style="height: 15%;overflow: auto;">
            <div class="col-xs-2 col-sm-2 col-md-2 col-xs-offset-8" style="top:25%;">
                <button type="button" class="btn btn-primary btn-block" @click="vue.doSeal()">确定</button>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 " style="top:25%;">
                <button type="button" class="btn btn-primary btn-block" @click="vue.cancle()">取消</button>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    var vue = new Vue({
        el: "#seal",
        data: {
            seals: //印章下拉框数据
                [{
                        MarkName: 'New York',
                        signatureID: 'New York'
                    },
                    {
                        MarkName: 'London',
                        signatureID: 'London'
                    },
                    {
                        MarkName: 'Sydney',
                        signatureID: 'Sydney'
                    }
                ],
            sealItem1: "", // 选中的印章
            sealPassword: "", // 印章密码
            seal: "", // 中间区域显示的印章图片路径
            visible: false, // 是否显示中间区域的印章图片
            picPath: "" // 印章图片路径(插入文档使用)
        },
        methods: {
            // 取消按钮
            cancle: function () {
                window.close(); // 大概率引发WPS程序窗口最小化
            },
            // 获取印章下拉框数据
            getAllSeal: function () {
                var doc = wps.WpsApplication().ActiveDocument;
                var url = GetDocParamsValue(doc, "sealsPath");
                if (url == "") {
                    alert("未传入有效的Url,将使用样例数据!");
                    return;
                }
                $.ajax({
                    url: url,
                    async: false, // 同步
                    method: "post",
                    dataType: "json",
                    success: function (res) {
                        vue.seals = res;
                        console.log("数据：" + vue.seals);
                    },
                    error: function (response) {
                        console.log("获取响应失败");
                        vue.seals = {};
                    }
                });
            },
            loadSeal: function () {
                if (this.sealItem1 == "") {
                    alert("请选择印章!");
                    return;
                }
                if (this.sealPassword == "") {
                    alert("请输入密码!");
                    return;
                }
                var doc = wps.WpsApplication().ActiveDocument;
                var url = GetDocParamsValue(doc, "validatePath");
                if (url == "") {
                    alert("未传入有效的Url,将使用样例数据!");
                    this.visible = true;
                    this.seal = this.picPath = getDemoSealPath();
                    return;
                }
                url += "&signatureID=" + this.sealItem1 + "&passwd=" + this.sealPassword;
                $.ajax({
                    url: url,
                    async: true,
                    method: "get",
                    dataType: "json",
                    success: function(res) {
                        var data = res.body;
                        if (data.code == "0") {
                            this.visible = true;
                            this.picPath = data.url;
                            this.seal = this.picPath;
                        } else {
                            this.picPath = "";
                            this.$Message.error(data.message);
                        }
                    },
                    error: function (response) {
                        console.log("获取响应失败");
                    }
                });
            },
            doSeal: function () {
                var l_doc = wps.WpsApplication().ActiveDocument;
                OnInsertPicToDoc(l_doc, this.picPath, 95, 95); // 调用插入图片函数
                window.opener = null;
                window.open('', '_self', '');
                window.close();
            }
        },
        created: function () {
            this.getAllSeal();
        }
    });
</script>